@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

.status {
    color: var(--status-color);
}

#info p {
    margin-left: 1.5em;
}

#info table, th, td {
    margin-left: 1.5em;
    border: 1px solid white;
}
